@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chaos Turkey MC Yönetim</h1>
    <p class="lead">Kulüp yönetim uygulaması</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kullanıcılar</h2>
        <p>
            Kullanıcıların yönetildiği bölümdür.
        </p>
        <p><a class="btn btn-primary" href="/Kullanicilar/">Giriş &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Duyurular</h2>
        <p>Duyuruların yönetildiği bölümdür.</p>
        <p><a class="btn btn-primary" href="/Duyurular/">Giriş &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Etkinlik</h2>
        <p>Etkinlik ve devamsızlığın yönetildiği bölümdür.</p>
        <p><a class="btn btn-primary" href="/Etkinlik/">Giriş &raquo;</a></p>
    </div>
</div>