@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chaos CC Yönetim</h1>
    <p class="lead">Klüp yönetim uygulamsı</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kullanıcılar</h2>
        <p>
            Kullanıcıların yönetildiği bölümdür.
        </p>
        <p><a class="btn btn-default" href="/Kullanicilar/">Giriş &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Duyurular</h2>
        <p>Duyuruların Yönetildiği bölümdür</p>
        <p><a class="btn btn-default" href="/Duyurular/">Giriş &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Finans</h2>
        <p>Finans bölümünün yönetildiği bölümdür.</p>
        <p><a class="btn btn-default" href="/Finans/">Giriş &raquo;</a></p>
    </div>
</div>