@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chaos Turkey MC Yönetim</h1>
    <p class="lead">Kulüp yönetim uygulaması</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kullanıcılar</h2>
        <p>
            Kullanıcıların yönetildiği bölümdür.
        </p>
        <p><a class="btn btn-primary" href="/Kullanicilar/"><i class="fas fa-user"></i> Giriş &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Duyurular</h2>
        <p>Duyuruların yönetildiği bölümdür.</p>        
        <p><a class="btn btn-primary" href="/Duyurular/"><i class="fas fa-bullhorn"></i> Giriş &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Etkinlik</h2>
        <p>Etkinlik ve devamsızlığın yönetildiği bölümdür.</p>        
        <p><a class="btn btn-primary" href="/Etkinlik/"><i class="fas fa-motorcycle"></i> Giriş &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Devamsızlık Listesi</h2>
        <p>Devamsızlık Listesi bölümdür.</p>        
        <p><a class="btn btn-primary" href="/Kullanicilar/DevamsizlikList"><i class="fas fa-clipboard-list"></i> Giriş &raquo;</a></p>
    </div>
</div>